<a href="https://colab.research.google.com/github/victorismaelreeves/DataScienceHS/blob/master/assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To generate random data in Python using a [random](https://pynative.com/python/random/) module

In [26]:
import random
import math

In [27]:
!python --version

Python 3.7.12

### Exercise 1
You have a list a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89].

Print all even elements and sum.

In [94]:
a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89]
for i in a:
  if i % 2 == 0:
    print(i)
print(sum(a))

2
6
34
230

### Exercise 2
Print a list that consists of the common elements of the two lists.

In [7]:
a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c = []
for i in a:
  if i in b:
    c.append(i)
print(c)
# your code here

[1, 1, 2, 3, 5, 6, 13]

### Exercise 3
Print the first n lines of [Pascal's triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle). The view can be not formatted, that is, just print lines from Pascal's triangle.

In [12]:
n = int(input('Enter the number of lines: '))
triangle = [1]
y = [0]
for x in range(n):
  print(triangle)
  triangle=[l+r for l,r in zip(triangle+y, triangle+trow)]

Enter the number of lines: 6
[1]
[2, 1]
[4, 2, 1]
[8, 4, 2, 1]
[16, 8, 4, 2, 1]
[32, 16, 8, 4, 2, 1]

### Exercise 4
Check if the string is a palindrome.

In [16]:
string = input('Enter the string: ')
if string == string[::-1]:
  print("true")

Enter the string: anna
true

### Exercise 5
Convert seconds to days:hours:minutes:seconds (without using datetime)

In [17]:
seconds = int(input("Number of seconds: "))
seconds_in_day = 60 * 60 * 24
seconds_in_hour = 60 * 60
seconds_in_minute = 60

days = seconds // seconds_in_day
hours = (seconds - (days * seconds_in_day)) // seconds_in_hour
minutes = (seconds - (days * seconds_in_day) - (hours * seconds_in_hour)) // seconds_in_minute
print(days, hours, minutes, seconds)

Number of seconds: 26665
0 7 24 26665

### Exercise 6
You accept a comma-separated sequence of numbers from the user. Make a list and tuple of these numbers.

In [24]:
sequence = input("Enter the sequence: ")
joined_string = sequence.split(",")

print(joined_string, tuple(joined_string))

Enter the sequence: 1,2,3,4,5
['1', '2', '3', '4', '5'] ('1', '2', '3', '4', '5')

### Exercise 7
Print the first and last element of a list filled with N random integers.

In [30]:
from random import randint
N = int(input())
x = []
for i in range(N):
  x.append(randint(0, 10))
print(x)

6
[2, 4, 1, 5, 6, 9]

### Exercise 8
Print the file extension. If it cannot be determined, print "no extension".

In [32]:
import os
filename = input('File name: \n')
name, file_extension = os.path.splitext(filename)
print(file_extension)

File name:
hello.txt
.txt

### Exercise 9
Add up the digits of the given integer.

In [36]:
x = 12345
y = 0
for digit in str(x):
  y += int(digit)
print(y)

15

### Exercise 10
Ð¡reate two lists of size 20 containing random integers from the segment [0, 30], prints them to the screen and all elements of the first that are not in the second.

In [41]:
import random
lst1 = [random.randint(0,30) for i in range(20)]
lst2 = [random.randint(0,30) for i in range(20)]
for i in lst1:
  if i not in lst2:
    print(i)
print(lst1, lst2)

5
9
24
27
17
27
28
15
17
11
22
23
24
1
[16, 5, 9, 14, 24, 27, 17, 27, 28, 18, 15, 21, 25, 16, 17, 11, 22, 23, 24, 1] [16, 26, 19, 25, 7, 18, 4, 14, 21, 30, 19, 30, 19, 29, 8, 0, 21, 16, 10, 26]

### Exercise 11
Find the number of divisors of a given integer.

In [45]:
integer = int(input())
x = len([i for i in range(1,integer+1) if not integer % i])
print(x)

7
2

### Exercise 12
Count input letter in the input string.

In [46]:
string = input('string: ')
letter = input('letter: ')
string.count(letter)

string: hello
letter: l

2

### Exercise 13
Just swap the values

In [47]:
var1 = input()
var2 = input()
var1, var2 = var2, var1
print(var1, var2)

1
2
2 1

### Exercise 14
You need to check if all the numbers in the sequence are unique. The sequence consists of integers entered from the keyboard. The end of the input is the `'#'` symbol.

In [52]:
sequence = input()
if len(sequence) == len(set(sequence)):
  print("yes")
else:
  print("NO")

12345678#
yes

### Exercise 15

Create two built-in frozenset objects from strings `'reversed question'` and `'answer'`, and try to make them keys in the dct dictionary for the strings `'? Tesnezorf dna tes neewteb ecnereffid niam eht si tahw'` and **`'<your answer to the question>'`**, respectively. There is no need to reverse the answer. Finally, print out the dct dictionary.

In [54]:
dct = {}

In [56]:
x = frozenset('? Tesnezorf dna tes neewteb ecnereffid niam eht si tahw')
y = frozenset(input())
dct["reversed question"]=x
dct["answer"]=y
print(dct)

answers is here
{'reversed question': frozenset({'i', 'b', ' ', '?', 'c', 'o', 'w', 'r', 'm', 'z', 's', 'n', 'T', 'a', 'e', 'f', 'd', 't', 'h'}), 'answer': frozenset({'w', 'a', 'e', 'r', 'i', 'h', ' ', 'n', 's'})}

### Exercise 16

Find the area of a circle. You can use const `'pi'` from `'math'` module

In [57]:
from math import pi
r = float(input())
PI = pi
area = PI * r * r
print(area)

5
78.53981633974483

### Exercise 17

Swap keys and values.

In [58]:
dct = {x: x ** 2 for x in range(10)}
res = dict((x,y) for y,x in dct.items())
print(res)

{0: 0, 1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9}

### Exercise 18

Create a variable that stores the description of this task as a string, separate the words, and convert to LOWERCASE.

In [67]:
x = "Create a variable that stores the description of this task as a string, separate the words, and convert to LOWERCASE"
y = x.split()
print(list(map(lambda i: i.lower(), y)))

['create', 'a', 'variable', 'that', 'stores', 'the', 'description', 'of', 'this', 'task', 'as', 'a', 'string,', 'separate', 'the', 'words,', 'and', 'convert', 'to', 'lowercase']
['Create', 'a', 'variable', 'that', 'stores', 'the', 'description', 'of', 'this', 'task', 'as', 'a', 'string,', 'separate', 'the', 'words,', 'and', 'convert', 'to', 'LOWERCASE']

### Exercise 19
Print the sorted words from the previous exercise in reverse lexicographical order.

In [69]:
y.sort(reverse=True)
print(y)

['words,', 'variable', 'to', 'this', 'the', 'the', 'that', 'task', 'string,', 'stores', 'separate', 'of', 'description', 'convert', 'as', 'and', 'a', 'a', 'LOWERCASE', 'Create']

### Exercise 20

Write code that reverses all odd-numbered elements of lst in reverse order.

That is, if lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], then you should get [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [87]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in lst:
  if i // 2 != 0:
    lst[i], lst[-i] = lst[-i], lst[i]

print(lst)

[0, 9, 2, 3, 4, 5, 6, 7, 8, 1]