<a href="https://colab.research.google.com/github/victorismaelreeves/DataScienceHS/blob/master/home_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To generate random data in Python using a [random](https://pynative.com/python/random/) module

In [ ]:
import random
import math

In [ ]:
!python --version

Python 3.7.12

### Exercise 1
You have a list a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89].

Print all even elements and sum.

In [ ]:
a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89]
# your code here

### Exercise 2
Print a list that consists of the common elements of the two lists.

In [ ]:
a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
# your code here

### Exercise 3
Print the first n lines of [Pascal's triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle). The view can be not formatted, that is, just print lines from Pascal's triangle.

In [ ]:
n = int(input('Enter the number of lines: '))
# your code here

### Exercise 4
Check if the string is a palindrome.

In [ ]:
string = input('Enter the string: ')
# your code here

### Exercise 5
Convert seconds to days:hours:minutes:seconds (without using datetime)

In [ ]:
seconds = int(input("Number of seconds: "))
# your code here

### Exercise 6
You accept a comma-separated sequence of numbers from the user. Make a list and tuple of these numbers.

In [ ]:
sequence = input("Enter the sequence: ")
# your code here

### Exercise 7
Print the first and last element of a list filled with N random integers.

In [ ]:
N = int(input())
# your code here

### Exercise 8
Print the file extension. If it cannot be determined, print "no extension".

In [ ]:
filename = input('File name: \n')
# your code here

### Exercise 9
Add up the digits of the given integer.

In [ ]:
x = 12345
# your code here

### Exercise 10
Ð¡reate two lists of size 20 containing random integers from the segment [0, 30], prints them to the screen and all elements of the first that are not in the second.

In [ ]:
# your code here
# lst1 = 
# lst2 =

### Exercise 11
Find the number of divisors of a given integer.

In [ ]:
integer = int(input())
# your code here

### Exercise 12
Count input letter in the input string.

In [ ]:
string = input('string: ')
letter = input('letter: ')
# your code here

### Exercise 13
Just swap the values

In [ ]:
var1 = input()
var2 = input()
# your code here

### Exercise 14
You need to check if all the numbers in the sequence are unique. The sequence consists of integers entered from the keyboard. The end of the input is the `'#'` symbol.

In [ ]:
# your code here

### Exercise 15

Create two built-in frozenset objects from strings `'reversed question'` and `'answer'`, and try to make them keys in the dct dictionary for the strings `'? Tesnezorf dna tes neewteb ecnereffid niam eht si tahw'` and **`'<your answer to the question>'`**, respectively. There is no need to reverse the answer. Finally, print out the dct dictionary.

In [ ]:
dct = {}

In [ ]:
# your code here

### Exercise 16

Find the area of a circle. You can use const `'pi'` from `'math'` module

In [ ]:
r = float(input())
# your code here

### Exercise 17

Swap keys and values.

In [ ]:
dct = {x: x ** 2 for x in range(10)}
dct
# your code here

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Exercise 18

Create a variable that stores the description of this task as a string, separate the words, and convert to LOWERCASE.

In [ ]:
# your code here

### Exercise 19
Print the sorted words from the previous exercise in reverse lexicographical order.

In [ ]:
# your code here

### Exercise 20

Write code that reverses all odd-numbered elements of lst in reverse order.

That is, if lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], then you should get [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [ ]:
# your code here